<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeditationSounds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>835FE9CF227B193B00A6DA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835FE9E3227B193F00A6DA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835FE9EE227B194000A6DA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
